html{
    margin: 0;
    padding: 0;
}


body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    width: 100%;
  
}


*{
    box-sizing: border-box;
}

h2{
    font-size: 18px;
    line-height: 100%;
    color: #38575f;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: normal;
}
main {
    display: block;
    
    margin-bottom: 50px;
    
} 

header{
    display: flex;
        flex-direction: row;
    justify-content: space-around;
}
.logo-alura{
    width: 30%;
    height: 50px;
    margin-left: 1rem;
    margin-top: 1rem;
}
.section-1, .section-2, .section-text {
    width: 100%;
    margin: 0 auto;;
}


.input-texto {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    height: 150px;
    border-style: none;
}

.mensaje {
    position: relative;
    margin-top: 10px;
    
    background-image: url("./images/11121749_4636956.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 170px 150px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border-style: none;
}


.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    
}

.encriptar, .desencriptar, .copiar {
    border-style: none;
    background-color: #38575f ;
    color:white;
    padding: 15px;
    font-size: 0.71rem;
    border-radius: 10px;
    box-shadow: none;
}



.informacion {
    font-size: 15px;
}

::-webkit-input-placeholder{
    color:#00AEDB;
    }

/*Escritorio*/
@media (min-width: 576px)  {
    body{background: #b6c4c7 ;}
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo-alura{
        width: 200px;
        height: 150px;
    
    }

    .mensaje, .input-texto{
        width: 100%;
        height: 30vh;
        margin-left: 0%;
        margin-right: 0%;
    }

    .section-1, .section-2, .section-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
       
    }
   
}
/*Fin Escritorio*/

/*Tablet*

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    body{background: #b6c4c7 ;}
 }
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: black;}
}
/*fin movil*/